* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "ubuntu", sans-serif;
}

body {
  background-color: #000000;
}

.header {
  min-height: 100vh;
  width: 100%;
  background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)),
    url(images/b.png);
  background-position: center;
  background-size: cover;
  position: relative;
}

nav {
  display: flex;
  padding: 2% 6%;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
}

nav img {
  height: 110px;
  width: 100px;
  border-radius: 50%;
}

.text-box {
  text-align: center;
}

@media (max-width: 700px),
(max-width: 1200px) {
  .text-box h2 {
    font-size: 29px;
    padding-top: 20%;
  }
}

/*-----Education------*/

.education {
  width: 80%;
  margin: auto;
  text-align: center;
  padding-top: 0px;
}

.course-col img {
  width: 100%;
  display: block;
}

h1 {
  background: linear-gradient(65deg,#00c3ff, #ff00ea, #00ff4c,#00c3ff, #e1ff00,#00c3ff, #aa00ff, #aa00ff, #00a2ff, #00ff4c, #00c3ff, #ff00ea, #00ff4c,#00c3ff, #e1ff00,#00c3ff, #aa00ff, #aa00ff, #00a2ff, #00ff4c);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  margin: 15px 0;
  text-align: center;
  font-size: 35px;
  padding: 15px;
  font-family: "Oswald", sans-serif;
}

h2 {
  margin: 10px 0 100px;
  text-align: center;
  color: #ffffff;
  font-size: 60px;
  padding-top: 40px;
  font-family: "Oswald", sans-serif;
}

.hu__hu__ {
  animation: hu__hu__ infinite 2s ease-in-out
}

@keyframes hu__hu__ {
  50% {
    transform: translateY(30px)
  }
}

p {
  text-align: center;
  color: #e7e7e7;
  font-weight: 300;
  line-height: 22px;
  padding: 15px;
}

h5 {
  margin: 10px 0;
  text-align: center;
  color: #fcfcfdcb;
  font-size: 15px;
  font-weight: 300;
  line-height: 22px;
  padding: 10px;
}

h3 {
  margin: 10px 0;
  text-align: center;
  color: #fff;
}

.row {
  margin-top: 0%;
  display: flex;
  justify-content: space-between;
}

.course-col {
  flex-basis: 20%;
  background: #c300ff69;
  border-radius: 10px;
  margin-bottom: 5%;
  padding: 20px 12px;
  box-sizing: border-box;
  transition: 0.5s;
}

@media (max-width: 700px) {
  .row {
    flex-direction: column;
  }

  .course iframe {
    width: 280px;
    height: 180px;
  }
}

@media (max-width: 1000px) {
  .row {
    flex-direction: column;
  }
}

.btn-1 {
  --BG_color: #ffffff;
  --color: #000000;
  width: 140px;
  height: 40px;
  border: none;
  color: var(--color);
  position: relative;
  font-weight: bold;
  font-size: 16px;
  transition-duration: 0.2s;
  background: none;
  font-family: Arial, Helvetica, sans-serif;
  cursor: pointer;
  text-decoration: none;
  user-select: none;
  padding: 0;
  z-index: 1;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  transform: scale(0.8);
}

.btn-1:hover {
  color: #00ff15;
}

.btn-1 span {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 11;
  background: var(--BG_color);
  border-radius: 7px;
}

.btn-1:before,
.btn-1:after {
  content: "";
  position: absolute;
  left: -2px;
  top: -2px;
  border-radius: 10px;
  background: linear-gradient(45deg,
      #fb0094,
      #0000ff,
      #00ff00,
      #ffff00,
      #ff0000,
      #fb0094,
      #0000ff,
      #00ff00,
      #ffff00,
      #ff0000);
  background-size: 400%;
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  z-index: -1;
  animation: move_142 20s linear infinite;
}

@keyframes move_142 {
  0% {
    background-position: 0 0;
  }

  50% {
    background-position: 400% 0;
  }

  100% {
    background-position: 0 0;
  }
}

.btn-1:after {
  filter: blur(50px);
}

/*** disabled style ***/
.btn-1:disabled {
  pointer-events: none;
  opacity: 0.65;
  color: #7e7e7e;
  background: #dcdcdc;
  text-shadow: none;
  box-shadow: none;
}

.btn-1:disabled:before,
.btn-1:disabled:after {
  background: #ffffff;
  animation: none;
}

/*----- Experience -----*/

.experience {
  width: 80%;
  margin: auto;
  text-align: center;
}

.campus-col {
  flex-basis: 32%;
  border-radius: 10px;
  margin-bottom: 30px;
  position: relative;
  overflow: hidden;
}

.campus-col img {
  width: 100%;
  display: block;
}

.layer {
  background: transparent;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: 0.5s;
}

.layer:hover {
  background: #fefeffe8;
}

.layer h3 {
  width: 100%;
  color: #000000;
  font-size: 16px;
  bottom: 0;
  position: absolute;
  opacity: 0;
  transition: 0.5s;
}

.layer:hover h3 {
  bottom: 35%;
  opacity: 1;
}

/*----- Skills -----*/

.skills {
  background-repeat: repeat;
  width: 90%;
  margin: auto;
  text-align: center;
}

.facilities-col {
  flex-basis: 30%;
  margin-bottom: 5%;
  text-align: left;
}

.facilities-col img {
  width: 100%;
  border-radius: 10px;
}

.facilities-col h3 {
  margin-top: 16px;
  margin-bottom: 15px;
  color: #030303;
}

.facilities-col p {
  padding: 0;
  text-align: left;
}

/*--Family--*/

/*--hospitals--*/

#p1 {
  color: #ffd344;
}

#p2 {
  color: #ff0000;
}

#p3 {
  color: #09ff00;
}

/*--gallery--*/

.carousel {
  margin-left: 30%;
  margin-right: 30%;
}

ul.slides {
  display: block;
  position: relative;
  height: 500px;
  overflow: hidden;
  list-style: none;
}

ul.slides input {
  display: none;
}

.slide-container {
  display: block;
}

.slide-image {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  opacity: 0;
  transition: all 0.7s ease-in-out;
}

.slide-image img {
  width: 100%;
  height: 100%;
}

.carousel-controls {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  font-size: 100px;
  line-height: 500px;
  color: #f80909;
}

.carousel-controls label {
  display: none;
  position: absolute;
  padding: 0 20px;
  opacity: 0;
  transition: opacity 0.2s;
  cursor: pointer;
}

.slide-image:hover .carousel-controls label {
  opacity: 0.5;
}

.carousel-controls label:hover {
  opacity: 1;
}

.carousel-controls .prev-slide {
  width: 30%;
  text-align: left;
  left: 0;
}

.carousel-controls .next-slide {
  width: 30%;
  text-align: right;
  right: 0;
}

.carousel-dots {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0.1px;
  z-index: 999;
  text-align: center;
}

.carousel-dots .carousel-dot {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #fc04ef;
  opacity: 0.3;
  margin: 3px;
}

input:checked+.slide-container .slide-image {
  opacity: 1;
  transform: scale(1);
  transition: opacity 1s ease-in-out;
}

input:checked+.slide-container .carousel-controls label {
  display: block;
}

input#img-1:checked~.carousel-dots label#img-dot-1,
input#img-2:checked~.carousel-dots label#img-dot-2,
input#img-3:checked~.carousel-dots label#img-dot-3,
input#img-4:checked~.carousel-dots label#img-dot-4,
input#img-5:checked~.carousel-dots label#img-dot-5,
input#img-6:checked~.carousel-dots label#img-dot-6,
input#img-7:checked~.carousel-dots label#img-dot-7,
input#img-8:checked~.carousel-dots label#img-dot-8,
input#img-9:checked~.carousel-dots label#img-dot-9,
input#img-10:checked~.carousel-dots label#img-dot-10,
input#img-11:checked~.carousel-dots label#img-dot-11,
input#img-12:checked~.carousel-dots label#img-dot-12 {
  opacity: 1;
}

input:checked+.slide-container .nav label {
  display: block;
}

@media (max-width: 700px) {
  ul.slides {
    height: 250px;
    width: 250px;
    margin-left: -35%;
  }

  .carousel-controls {
    line-height: 250px;
  }
}

/*--icons--*/

.wrapper {
  display: flex;
  padding: 30px;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.wrapper .icon {
  margin: 20px;
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
  z-index: 2;
  cursor: pointer;
}

.wrapper .icon span i {
  font-size: 1px;
}

.wrapper .icon .tooltip {
  position: absolute;
  top: 0px;
  background: #fff;
  font-size: 15px;
  padding: 5px 15px;
  border-radius: 25px;
  box-shadow: 0 10px 10px rgba(255, 255, 255, 0.1);
  opacity: 0;
  pointer-events: none;
  transition: all 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .icon:hover .tooltip {
  top: -50px;
  opacity: 1;
  pointer-events: auto;
}

.wrapper .icon .tooltip::before {
  position: absolute;
  content: "";
  height: 15px;
  width: 15px;
  background: #fff;
  bottom: -8px;
  left: 50%;
  transform: translateX(-50%) rotate(45deg);
}

.wrapper .gmail:hover .tooltip,
.wrapper .gmail:hover .tooltip::before {
  background: linear-gradient(45deg,
      #fb0000,
      #ffffff,
      #f80909,
      #ffffff,
      #fb0000);
  color: #000000;
}

.wrapper .whatsapp:hover .tooltip,
.wrapper .whatsapp:hover .tooltip::before {
  background: linear-gradient(45deg,
      #00fb3b,
      #ffffff,
      #00fb3b,
      #ffffff,
      #00fb3b);
  color: #000000;
}

.wrapper .YouTube:hover .tooltip,
.wrapper .YouTube:hover .tooltip::before {
  background: linear-gradient(45deg,
      #fb0000,
      #ffffff,
      #f80909,
      #ffffff,
      #fb0000);
  color: #000000;
}

.wrapper .instagram:hover .tooltip,
.wrapper .instagram:hover .tooltip::before {
  background: linear-gradient(45deg,
      #fb0000,
      #ffffff,
      #ff00ff,
      #ffa64d,
      #001dfb);
  color: #000000;
}

.wrapper .facebook:hover .tooltip,
.wrapper .facebook:hover .tooltip::before {
  background: linear-gradient(45deg, #080690, #cecece, #080690);
  color: #000000;
}

.wrapper .twitter:hover .tooltip,
.wrapper .twitter:hover .tooltip::before {
  background: linear-gradient(45deg,
      #00c9fb,
      #ffffff,
      #00c9fb,
      #ffffff,
      #00c9fb);
  color: #000000;
}

.wrapper .linkedin:hover .tooltip,
.wrapper .linkedin:hover .tooltip::before {
  background: linear-gradient(45deg, #0037ff, #ffffff, #0037ff);
  color: #000000;
}

.wrapper .snapchat:hover .tooltip,
.wrapper .snapchat:hover .tooltip::before {
  background: linear-gradient(45deg, #ffffff, #ffe100, #ffffff, #ffe100);
  color: #131212;
}

.wrapper .skype:hover .tooltip,
.wrapper .skype:hover .tooltip::before {
  background: linear-gradient(45deg,
      #00c3ff,
      #ffffff,
      #00c3ff,
      #ffffff,
      #00c3ff);
  color: #000000;
}

@media (max-width: 700px) {
  .wrapper .icon {
    margin: auto;
  }
}