* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}

.header {
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)), url(images/b.png);
    background-position: center;
    background-size: cover;
    position: relative;
}

nav {
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}

nav img {
    width: 100px;
}

.nav-links {
    flex: 1;
    text-align: right;
}

.nav-links ul li {
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}

.nav-links ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 15px;
}

.nav-links ul li::after {
    content: '';
    width: 0%;
    height: 2px;
    background: #28cf74;
    display: block;
    margin: auto;
    transition: 0.5s;
}

.nav-links ul li:hover::after {
    width: 100%;
}

.text-box {
    width: 90%;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.text-box p {
    margin: 1px 0 1px;
    font-size: 20px;
    color: #fff;
}

.nav .fa {
    display: none;
}

@media(max-width: 700px) {
    .text-box h2 {
        font-size: 22px;
    }

    .text-box h5 {
        font-size: 15px;
    }

    .text-box h6 {
        font-size: 17px;
    }
}

/*-----course------*/

.course {
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 0px;
}

.course-col img {
    width: 100%;
    display: block;

}

h1 {
    margin: 15px 0;
    text-align: center;
    font-size: 35px;
    font-weight: 600;
    padding: 15px;
    color: rgb(101, 188, 247);
    -webkit-box-reflect: below 1px linear-gradient(transparent, #0004);
    line-height: 0.10em;
    outline: none;
}

h2 {
    margin: 10px 0;
    text-align: center;
    color: #fcfcfd;
    font-size: 60px;
    line-height: 22px;
    padding: 10px;
}

h6 {
    margin: 10px 0;
    text-align: center;
    color: #fcfcfd;
    font-size: 30px;
    line-height: 22px;
    padding: 10px;
}

p {
    text-align: center;
    color: #e7e7e7;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    padding: 15px;
}

h5 {
    margin: 10px 0;
    text-align: center;
    color: #fcfcfdcb;
    font-size: 15px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
}

h3 {
    text-align: center;
    font-size: 30px;
    font-weight: 40px;
    margin: 10px 0;
    color: #fff;
}

.row {
    margin-top: 0%;
    display: flex;
    justify-content: space-between;
}

.course-col {
    flex-basis: 20%;
    background: #c300ff69;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
    transition: 0.5s;
}

.course-col:hover {
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.2);
}

@media(max-width: 700px) {
    h5 {
        font-size: small;
    }

    .row {
        flex-direction: column;
    }

    .course iframe {
        width: 280px;
        height: 180px;
    }
}

@media(max-width: 1000px) {
    .row {
        flex-direction: column;
    }
}

.btn-142 {
    --BG_color: #ffffff;
    --color: #000000;
    width: 140px;
    height: 40px;
    border: none;
    color: var(--color);
    position: relative;
    font-weight: bold;
    font-size: 16px;
    transition-duration: .2s;
    background: none;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
    text-decoration: none;
    user-select: none;
    padding: 0;
    z-index: 1;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.btn-142 span {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 11;
    background: var(--BG_color);
    border-radius: 7px;
}

.btn-142:before,
.btn-142:after {
    content: '';
    position: absolute;
    left: -2px;
    top: -2px;
    border-radius: 10px;
    background: linear-gradient(45deg, #fb0094, #0000ff, #00ff00, #ffff00, #ff0000, #fb0094,
            #0000ff, #00ff00, #ffff00, #ff0000);
    background-size: 400%;
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    z-index: -1;
    animation: move_142 20s linear infinite;
}

@keyframes move_142 {
    0% {
        background-position: 0 0;
    }

    50% {
        background-position: 400% 0;
    }

    100% {
        background-position: 0 0;
    }
}

.btn-142:after {
    filter: blur(50px);
}

/*** disabled style ***/
.btn-142:disabled {
    pointer-events: none;
    opacity: .65;
    color: #7e7e7e;
    background: #dcdcdc;
    text-shadow: none;
    box-shadow: none;
}

.btn-142:disabled:before,
.btn-142:disabled:after {
    background: #dcdcdc;
    animation: none;
}

/*** dark mode ***/
html.dark-mode .btn-142 {
    --BG_color: #000000;
    --color: #ffffff;
}

/*----- campus -----*/

.campus {
    width: 80%;
    margin: auto;
    text-align: center;
}

.campus-col {
    flex-basis: 32%;
    border-radius: 10px;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
}

.campus-col img {
    width: 100%;
    display: block;

}

.layer {
    background: transparent;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.5s;
}

.layer:hover {
    background: rgba(176, 189, 247, 0.7);
}

.layer h3 {
    width: 100%;
    font-weight: 500;
    color: #030303;
    font-size: 26px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    opacity: 0;
    transition: 0.5s;
}

.layer:hover h3 {
    bottom: 50%;
    opacity: 1;
}

/*----- facilities -----*/

.facilities {
    background-repeat: repeat;
    width: 90%;
    margin: auto;
    text-align: center;
}

.facilities-col {
    flex-basis: 30%;
    border-radius: 10px;
    margin-bottom: 5%;
    text-align: left;
}

.facilities-col img {
    width: 100%;
    border-radius: 10px;
}

.facilities-col h3 {
    margin-top: 16px;
    margin-bottom: 15px;
    color: #030303;
}

.facilities-col p {
    padding: 0;
    text-align: left;
}

/*--Family--*/



/*--hospitals--*/

#p1 {
    color: #ffb14b;
}

#p2 {
    color: #ff0000;
}

.img-gallery {
    width: 80%;
    margin: 0px auto 50px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 30px;
}

.img-gallery img {
    width: 80%;
    cursor: pointer;
}

@media(max-width: 700px) {
    .img-gallery img {
        width: 100%;
    }

    .img-gallery {
        margin-top: 5%;
    }
}

/*--gallery--*/

.carousel {
    margin-left: 30%;
    margin-right: 30%;
}

ul.slides {
    display: block;
    position: relative;
    height: 500px;
    margin: 0;
    padding: 0;
    overflow: hidden;
    list-style: none;
}

.slides * {
    user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
}

ul.slides input {
    display: none;
}


.slide-container {
    display: block;
}

.slide-image {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    opacity: 0;
    transition: all .7s ease-in-out;
}

.slide-image img {
    width: 100%;
    height: 100%;
}

.carousel-controls {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
    font-size: 100px;
    line-height: 500px;
    color: #f80909;
}

.carousel-controls label {
    display: none;
    position: absolute;
    padding: 0 20px;
    opacity: 0;
    transition: opacity .2s;
    cursor: pointer;
}

.slide-image:hover+.carousel-controls label {
    opacity: 0.5;
}

.carousel-controls label:hover {
    opacity: 1;
}

.carousel-controls .prev-slide {
    width: 30%;
    text-align: left;
    left: 0;
}

.carousel-controls .next-slide {
    width: 30%;
    text-align: right;
    right: 0;
}

.carousel-dots {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 20px;
    z-index: 999;
    text-align: center;
}

.carousel-dots .carousel-dot {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #fc04ef;
    opacity: 0.3;
    margin: 3px;
}

input:checked+.slide-container .slide-image {
    opacity: 1;
    transform: scale(1);
    transition: opacity 1s ease-in-out;
}

input:checked+.slide-container .carousel-controls label {
    display: block;
}

input#img-1:checked~.carousel-dots label#img-dot-1,
input#img-2:checked~.carousel-dots label#img-dot-2,
input#img-3:checked~.carousel-dots label#img-dot-3,
input#img-4:checked~.carousel-dots label#img-dot-4,
input#img-5:checked~.carousel-dots label#img-dot-5,
input#img-6:checked~.carousel-dots label#img-dot-6,
input#img-7:checked~.carousel-dots label#img-dot-7,
input#img-8:checked~.carousel-dots label#img-dot-8,
input#img-9:checked~.carousel-dots label#img-dot-9,
input#img-10:checked~.carousel-dots label#img-dot-10,
input#img-11:checked~.carousel-dots label#img-dot-11,
input#img-12:checked~.carousel-dots label#img-dot-12 {
    opacity: 1;
}


input:checked+.slide-container .nav label {
    display: block;
}

@media(max-width: 700px) {
    ul.slides {
        height: 250px;
        width: 250px;
        margin-left: -35%;
    }

    .carousel-controls {
        line-height: 250px;
    }
}

/*--icons--*/

.wrapper {
    background: #a0a4a5;
    display: flex;
    padding: 30px;

}

.wrapper .icon {
    margin: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    z-index: 2;
    cursor: pointer;
}

.wrapper .icon span i {
    font-size: 22px;
}

.wrapper .icon .tooltip {
    position: absolute;
    top: 0px;
    background: #fff;
    font-size: 15px;
    padding: 5px 15px;
    border-radius: 25px;
    box-shadow: 0 10px 10px rgba(255, 255, 255, 0.1);
    opacity: 0;
    pointer-events: none;
    transition: all 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .icon:hover .tooltip {
    top: -50px;
    opacity: 1;
    pointer-events: auto;
}

.wrapper .icon .tooltip::before {
    position: absolute;
    content: "";
    height: 15px;
    width: 15px;
    background: #fff;
    bottom: -8px;
    left: 50%;
    transform: translateX(-50%) rotate(45deg);
}

.wrapper .gmail:hover .tooltip,
.wrapper .gmail:hover .tooltip::before {
    background: #db0404;
    color: #ffffff;
}

.wrapper .whatsapp:hover .tooltip,
.wrapper .whatsapp:hover .tooltip::before {
    background: #02ce13;
    color: #ffffff;
}

.wrapper .YouTube:hover .tooltip,
.wrapper .YouTube:hover .tooltip::before {
    background: #af1f1f;
    color: #ffffff;
}

.wrapper .instagram:hover .tooltip,
.wrapper .instagram:hover .tooltip::before {
    background: #02a6cf;
    color: #000000;
}

.wrapper .facebook:hover .tooltip,
.wrapper .facebook:hover .tooltip::before {
    background: #0204a8;
    color: #ffffff;
}

.wrapper .twitter:hover .tooltip,
.wrapper .twitter:hover .tooltip::before {
    background: #080808;
    color: #ffffff;
}

.wrapper .linkedin:hover .tooltip,
.wrapper .linkedin:hover .tooltip::before {
    background: #366ee9;
    color: #ffffff;
}

.wrapper .snapchat:hover .tooltip,
.wrapper .snapchat:hover .tooltip::before {
    background: #fcf958;
    color: #131212;
    ;
}

.wrapper .skype:hover .tooltip,
.wrapper .skype:hover .tooltip::before {
    background: #039aff;
    color: #ffffff;
    ;
}

@media(max-width: 700px) {
    .wrapper {
        background: #a0a4a591;
        display: flex;
    }

    .wrapper .icon {
        margin: auto;
    }
}